body {
  text-align: center;
}
.btn {
  padding: 10px 20px;
  background-color: skyblue;
  border-radius: 20px;
  margin-left: 10px;
  font-size: larger;
  font-weight: 500;
}
.reset {
  background-color: rgba(199, 12, 12, 0.772);
  color: rgb(0, 0, 0);
}
.btn img {
  height: 100px;
}
.heading{
    color: red;
}
.heading2{
    color: green;
}
.heading3{
    color: rgb(0, 4, 255);
}